@import '../bourbon/bourbon';

/* Reset
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* iOS orientation bug fix */
html, body {
  -webkit-text-size-adjust: 100%;
}

html{
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

ol {
  li {
    margin-bottom: em(4, $base);
  }
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[href], label[for], select,
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

button, input[type=button], input[type=image],
input[type=reset], input[type=submit] {
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=image]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: 0;
}


/* Fonts */
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/lato/lato-light-webfont.eot');
  src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
       url('../fonts/lato/lato-light-webfont.woff') format('woff'),
       url('../fonts/lato/lato-light-webfont.ttf') format('truetype'),
       url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLightIt';
  src: url('../fonts/lato/lato-italic-webfont.eot');
  src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
       url('../fonts/lato/lato-italic-webfont.woff') format('woff'),
       url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'),
       url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
       url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
       url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
       url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrocchiRegular';
  src: url('../fonts/trocchi/trocchi-webfont.eot');
  src: url('../fonts/trocchi/trocchi-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/trocchi/trocchi-webfont.woff2') format('woff2'),
       url('../fonts/trocchi/trocchi-webfont.woff') format('woff'),
       url('../fonts/trocchi/trocchi-webfont.ttf') format('truetype'),
       url('../fonts/trocchi/trocchi-webfont.svg#trocchiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrocchiBold';
  src: url('../fonts/trocchi/trocchi-bold-webfont.eot');
  src: url('../fonts/trocchi/trocchi-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/trocchi/trocchi-bold-webfont.woff2') format('woff2'),
       url('../fonts/trocchi/trocchi-bold-webfont.woff') format('woff'),
       url('../fonts/trocchi/trocchi-bold-webfont.ttf') format('truetype'),
       url('../fonts/trocchi/trocchi-bold-webfont.svg#trocchi_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontello';
  src: url('../fonts/fontello/fontello.eot?39051060');
  src: url('../fonts/fontello/fontello.eot?39051060#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?39051060') format('woff2'),
       url('../fonts/fontello/fontello.woff?39051060') format('woff'),
       url('../fonts/fontello/fontello.ttf?39051060') format('truetype'),
       url('../fonts/fontello/fontello.svg?39051060#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: "Fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before { content: '\e800'; }
.icon-minus:before { content: '\e801'; }
.icon-down:before { content: '\e802'; }
.icon-up:before { content: '\e803'; }
.icon-menu:before { content: '\e804'; }
.icon-facebook:before { content: '\e805'; }
.icon-twitter:before { content: '\e806'; }
.icon-rss:before { content: '\e807'; }
.icon-gplus:before { content: '\e808'; }
.icon-flickr:before { content: '\e809'; }
.icon-left:before { content: '\e810'; }
.icon-right:before { content: '\e811'; }
.icon-arrow-left:before { content: '\e812'; }
.icon-arrow-right:before { content: '\e813'; }


/* Normalized Styles
------------------------------------------------------------------------------*/

html {
	font-size: 16px;
}

body {
  font-size: $base-per;
  line-height: em(25, $base);
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: $text-color;
}

p {
  margin-bottom: rem(25);
}

strong {
  font-weight: bold;
}

em {
	font-family: 'LatoLightIt', Helvetica, Arial, sans-serif;
}

del {
  text-decoration: line-through;
}

th, td {
  vertical-align: top;
}

th {
  font-weight: normal;
  text-align: left;
}

address, cite, dfn {
  font-style: normal;
}

abbr, acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
  border-radius: 0;
}

textarea {
   overflow: auto;
}

::-webkit-input-placeholder {
	color: $text-color;
}

:-moz-placeholder {
	color: $text-color;
	opacity:  1;
}

::-moz-placeholder {
	color: $text-color;
	opacity:  1;
}

:-ms-input-placeholder {
	color: $text-color;
}

a, a:visited {
  text-decoration: none;
  color: $accent-color;
}

a:hover, 
a:active, 
a:focus {
  text-decoration: underline;
}

/* Acessibility navigation */
.accessibility-nav {
  position: absolute;
  top: 0;
  left: -9999em;
  z-index: 1000;

  a {
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  a:active,
  a:focus {
    left: 9999em;
  }
}

.hide {
  position: absolute !important;
  left: -9999em !important;
}

/* Image Replacement */
.ir {
  display: block;
  position: relative;
  overflow: hidden;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}