/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

/* 2.1 Container
------------------------------------------------------------------------------*/

.container {
	position: relative;
	width: 100%;
	max-width: $max-content-width;
	margin: 0 auto;
	padding: 0 15px/$mobile*100%;
}


/* 2.2 Header
------------------------------------------------------------------------------*/

.header {
	float: left;
	width: 100%;
	padding: rem(81) 0 0;
}

h1 {
	z-index: 9999;
	position: relative;
	float: left;
	left: 23px;
}

.site-name {
	width: 81px;
	height: 20px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	
	span {
		@include retina-bg('../img/common/logo', transparent, 0, 0, 81px 20px);
	}
}

@media screen and (min-width: $desktop){
	
	h1 {
		left: 49px;
	}
}
// tablet - header

.alt-header {
	.header {
		margin-bottom: rem(97);
	}
	
	.site-name {
		span {
			@include retina-bg('../img/common/logo-alt', transparent, 0, 0, 81px 20px);
		}
	}
	
	.menu-btn {
		&:before {
			color: #000;
		}
	}
}


/* 2.3 Navigation
------------------------------------------------------------------------------*/

.navigation {
	z-index: 2;
	position: absolute;
	top: rem(53);
	right: 0;
	width: 100%;
}

.menu-btn {
	float: right;
	width: 50px;
	height: 75px;
	text-align: center;
	cursor: pointer;

	&:before {
		font-family: 'Fontello';
		font-size: rem(28);
		line-height: em(70, 28);
		content: '\e804';
		color: #fff;
	}
}

.responsive-menu {
	display: none;
	z-index: 2;
	position: relative;
	float: left;
	width: 100%;
	
	li {
		float: left;
		width: 100%;
	}
	
	a {
		float: left;
		width: 100%;
		padding: rem(13) 0 rem(13) 15px;
		border-bottom: 1px solid #eee;
		font-size: rem(14);
		line-height: em(22, 14);
		@include transition (all .3s ease);
		background: #fff;
		text-align: left;
		color: #666;
		
		&:hover {
			text-decoration: none;
			background: $accent-color;
			color: #fff;
		}
	}
}

.menu-item-has-children {
	position: relative;
	
	.sub-menu {
		display: none;
		margin: 0;
		
		a {
			padding: rem(16) 0 rem(15) 15px;
		}
		
		.sub-menu a {
			padding-left: 55px;
		}
		
		.open-menu-link {
			height: 53px;
			padding-top: rem(14);
		}
	}
	
	.visible {
		display: block !important;
	}
}

.open-menu-link {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: rem(48);
	padding: rem(11) 0 0 2px;
	font-size: rem(24);
	text-align: center;
	cursor: pointer;
	background: $accent-color;
	color: $text-color;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	
	/* plus */
	&:before {
		position: relative;
		top: rem(-1);
		font-family: 'Fontello';
		content: '\e800';
		font-size: rem(17);
		color: #fff;
	}
	
	/* minus */
	&.close {
		
		&:before {
			content: '\e801';
		}
	}
}

@media screen and (min-width: $tablet){
	.navigation {
		right: 10px;
	}
	
	.responsive-menu {
		right: -10px;
	}
}

@media screen and (min-width: $desktop){
	.navigation {
		right: 20px;
	}
	
	.responsive-menu {
		right: -20px;
	}
}


/* 2.4 Content
------------------------------------------------------------------------------*/

.content {
	
}

.form-wrapper {
	float: left;
	width: 100%;
	margin-bottom: rem(97);
	
	.heading {
		margin-bottom: rem(30);
		font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(16);
		line-height: em(25, 16);
		text-transform: uppercase;
		color: #000;
	}
	
	.form {
		float: left;
		width: 100%;
	}
	
	.name-txt,
	.email-txt,
	.message-txt {
		float: left;
		width: 100%;
		height: 27px;
		margin-bottom: rem(30);
		padding: 0 0 0 10px;
		border: none;
		border-bottom: 2px solid #e5e5e5;
		font-family: 'LatoLightIt', Helvetica, Arial, sans-serif;
		font-size: rem(12);
		line-height: em(23, 12);
		letter-spacing: 1px;
		outline: none;
		color: #909090;
	}

	.message-txt {
		width: 100%;
		min-width: 100%;
		height: 130px;
		margin-bottom: rem(50);
	}
	
	.submit-btn {
		float: right;
		padding: rem(5) 26px rem(2);
		border-radius: 36px;
		border: 2px solid $accent-color;
		font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(12);
		line-height: em(23, 12);
		text-transform: uppercase;
		text-decoration: none;
		@include transition (all .1s ease);
		outline: none;
		background: #fff;
		color: $accent-color;
		
		&:hover {
			background: $accent-color;
			color: #fff;
		}
	}
}
// post-reply

@media screen and (min-width: $desktop){
	
	.form-wrapper {
		
		.name-txt,
		.email-txt,
		.message-txt {
			width: 334px;
		}
		
		.name-txt {
			margin-right: 30px;
		}
		
		.email-txt {
			width: 348px;
		}
	
		.message-txt {
			width: 100%;
		}
	}
	// post-reply
}
// desktop - form wrapper

.subscribe-form {
	display: inline-block;
	position: relative;
	width: 290px;
	height: 34px;
	margin-bottom: rem(19);
	border-radius: 16px;
	border: 2px solid rgba(255, 255, 255, .4);
	
	.email-txt {
		float: left;
		width: 216px;
		height: 100%;
		margin-left: 20px;
		border: none;
		font-family: 'LatoLightIt', Helvetica, Arial, sans-serif;
		font-size: rem(13);
		word-spacing: 1px;
		background: transparent;
		outline: none;
		color: rgba(255, 255, 255, .4);
	}
	
	::-webkit-input-placeholder {
		color: rgba(255, 255, 255, .4);
	}
	
	:-moz-placeholder {
		color: rgba(255, 255, 255, .4);
		opacity:  1;
	}
	
	::-moz-placeholder {
		color: rgba(255, 255, 255, .4);
		opacity:  1;
	}
	
	:-ms-input-placeholder {
		color: rgba(255, 255, 255, .4);
	}
	
	.subscribe-submit-btn {
		float: left;
		width: 50px;
		height: 29px;
		border: none;
		border-radius: 8px;
		font-size: rem(14);
		line-height: em(24, 14);
		text-transform: uppercase;
		background: none;
		@include transition (color .1s ease);
		color: rgba(255, 255, 255, .4);
		
		&:hover {
			color: rgba(255, 255, 255, .8);
		}
	}
	
	&:before {
		position: absolute;
		top: 4px;
		right: 48px;
		width: 1px;
		height: 21px;
		content: '';
		background: rgba(255, 255, 255, .4);
	}
}

@media screen and (min-width: 480px){
	
	.subscribe-form {
		width: 355px;
		
		.email-txt {
			width: 280px;
		}
	}
}
// tablet - subscribe-form

blockquote {
	position: relative;
	float: left;
	width: 100%;
	margin: rem(60) 0 rem(51);
	padding: rem(118) 0 rem(30);
	border-top: 1px dashed #fad7be;
	border-bottom: 1px dashed #fad7be;
	font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
	font-size: rem(18);
	line-height: em(28, 18);
	text-align: center;
	color: #333;
	
	&:before {
		position: absolute;
		top: rem(49);
		left: 50%;
		width: 35px;
		height: 35px;
		margin-left: -17px;
		content: '';
		background: transparent url('../img/common/sprite_common.png') 0 -300px no-repeat;
	}
}

@media screen and (min-width: $tablet){
	blockquote {
		margin: rem(91) 0 rem(51);
		padding: rem(44) 0 rem(36) 128px;
		font-size: rem(22);
		line-height: em(29, 22);
		text-align: left;
		
		&:before {
			top: rem(56);
			left: 38px;
			margin: 0;
		}
	}
}
// tablet - blockquote

.countdown {
	float: left;
	width: 100%;
	padding: rem(106) 0 rem(92);
	background: transparent url('../img/common/bg_timer.jpg') center 0 no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	
	.container {
		max-width: 420px;
		padding: 0;
	}
	
	ul {
		float: left;
		width: 100%;
		
		li {
			float: left;
			width: 105px/420px*100%;
		}
	}
	
	h5 {
		position: relative;
		font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
		margin-bottom: rem(55);
		font-size: rem(15);
		word-spacing: 1px;
		text-transform: uppercase;
		color: #eee;
		
		&:after {
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 60px;
			height: 2px;
			margin-left: -30px;
			content: '';
			background: #d7d4ce;
		}
	}
	
	.timer {
		margin-bottom: rem(158);
		font-size: rem(14);
		line-height: em(32, 14);
		text-transform: capitalize;
		
		.number {
			float: left;
			width: 100%;
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(29);
			line-height: em(60, 60);
		}
	}
	
	.message {
		line-height: em(20, 13);
		color: rgba(255, 255, 255, .5);
	}
}
// countdown

@media screen and (min-width: 480px){

	.countdown {
		.timer {
			font-size: rem(16);
			line-height: em(49, 16);
			
			.number {
				font-size: rem(36);
			}
		}
	}
	// countdown
}
// tablet - countdown

@media screen and (min-width: 480px){
	.countdown {
		.subscribe-form {
			margin-top: rem(32);
		}
	}
}
// desktop - countdown

@media screen and (min-width: 730px){

	.countdown {
		.container {
			max-width: 712px;
		}
		
		ul li {
			width: 178px;
		}
		
		.timer {
			margin-bottom: rem(74);
			font-size: rem(20);
			line-height: em(64, 20);
			
			.number {
				font-size: rem(60);
			}
		}
	}
	// countdown
}
// tablet - countdown

@media screen and (min-width: 830px){
	.countdown {
		.subscribe-form {
			margin-top: rem(88);
		}
	}
}
// desktop - countdown


/* 2.5 Footer
------------------------------------------------------------------------------*/

.footer {
	float: left;
	width: 100%;
	padding: rem(29) 0 rem(5);
	background: #252420;
	
	.social {
		float: left;
		margin-left: -5px;
		
		li {
			display: inline-block;
		}
		
		a {
			float: left;
			width: 30px;
			height: 30px;
			font-size: rem(18);
			line-height: em(28, 18);
			text-align: center;
			@include transition (all .3s ease);
			color: #7c7c79;
			
			&:hover {
				color: #fff;
			}
		}
		
		.icon-rss {
			position: relative;
			left: 1px;
		}
	}
	
	.copyright {
		float: left;
		clear: left;
		font-size: rem(12);
		color: #51504d;
	}
}

@media screen and (min-width: $tablet){
	
	.footer {
		.container {
			padding: 0 15px/$tablet*100%;
		}
		
		.social {
			float: left;
			margin: 0;
		}
		
		.copyright {
			float: right;
			clear: none;
		}
	}
}
// tablet - footer

@media screen and (min-width: $desktop){
	.footer {
		.container {
			padding: 0;
		}
	}
}