/* WordPress Default Styling
   ========================================================================== */

.alignnone {
    margin: rem(10) rem(15) rem(15) 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: rem(10) auto;
}

.alignright {
    float: right;
    margin: rem(10) 0 rem(15) rem(15);
}

.alignleft {
    float: left;
    margin: rem(10) rem(15) rem(15) 0;
}

.aligncenter {
    display: block;
    margin: rem(10) auto;
}

a {

  img.alignright {
    float: right;
    margin: rem(10) 0 rem(15) rem(15);
  }

  img.alignleft {
    float: left;
    margin: rem(10) rem(15) rem(15) 0;
  }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

.wp-caption {
  padding: rem(10) 3px 0 3px;
  max-width: 96%; /* Image does not overflow the content area */
  text-align: center;
  background: #fff;
  border: 1px solid #f0f0f0;

  &.aligncenter {
    margin: rem(10) auto rem(15) auto;
  }

  &.alignnone {
    margin: rem(10) auto rem(15) auto;
  }

  &.alignleft {
    margin: rem(10) rem(15) rem(15) 0;
  }

  &.alignright {
    margin: rem(10) 0 rem(15) rem(15);
  }

  img {
    width: auto;
    height: auto;
    max-width: 98.5%;
    margin: 0;
    padding: 0;
    border: 0 none;
  }

  p.wp-caption-text {
    margin: 0;
    padding: 0 4px rem(10);
    font-size: 11px;
    line-height: 17px;
  }
}

