<footer class="footer">
	
	<div class="container">
		
		<ul class="social">
			<li>
				<a href="#">
					<i class="icon-facebook"></i>
					<span class="screen-reader-text">Connect with us on Facebook</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-twitter"></i>
					<span class="screen-reader-text">Read us on Twitter</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-rss"></i>
					<span class="screen-reader-text">Read us on RSS</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-gplus"></i>
					<span class="screen-reader-text">Connect on GooglePlus</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-flickr"></i>
					<span class="screen-reader-text">We are on Flickr</span>
				</a>
			</li>
		</ul>
		<!-- / social -->
		<p class="copyright">Copyright &copy; 2010-2016 Bebo magazine. All Rights Reserved.</p>
	
	</div>
	<!-- / container -->
	
</footer>
<!-- / footer -->