<nav class="accessibility-nav">
	<ol>
		<li><a href="#navigation">Skip to navigation</a></li>
		<li><a href="#content">Skip to content</a></li>
	</ol>
</nav>
<!-- / accessibility-nav -->

<header class="header">
	
	<h1><a href="#" rel="index" title="Go to homepage" class="ir site-name">Bebo<span></span></a></h1>
	
	<div id="navigation" class="navigation">
			
		<div id="menu-btn" class="menu-btn"></div>
	
		<div class="responsive-menu">
			<ul>
				<li><a href="home.html">Home</a></li>
				<li class="menu-item-has-children"><a href="blog.html">Blog</a>
					<ul class="sub-menu">
						<li><a href="post.html">Single post</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
				<li><a href="404.html">404</a></li>
			</ul>
		</div>
	
	</div>
	<!-- / navigation -->

</header>
<!-- / header -->
