/* Components
------------------------------------------------------------------------------*/

/* v1.0.6 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
	width: 600px;
	height: 400px;
	position: relative;
	direction: ltr;
}

.royalSlider > * {
	float: left;
}

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
	-webkit-backface-visibility: hidden;
}

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}

.rsOverflow {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rsVisibleNearbyWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsVisibleNearbyWrap .rsOverflow {
	position: absolute;
	left: 0;
	top: 0;

}

.rsContainer {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsThumb {
	float: left;
	position: relative;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	@include transition (opacity .3s linear);
}

.rsHidden {
	opacity: 0;
	visibility: hidden;
	/*-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;*/
	@include transition (visibility 0s linear, opacity 0.3s linear);
}

.rsGCaption {
	width: 100%;
	float: left;
	text-align: center;
}

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
	position: fixed !important;
	height: auto !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	@include transition (all 0 linear);
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}

.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}

.rsPreloader {
	position: absolute;
	z-index: 0;	
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}

.rsNavItem {
	-webkit-tap-highlight-color: rgba(0, 0, 0, .25);
}

.rsThumbs {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	float: left;
	z-index: 22;
}

.rsTabs {
	float: left;
	background: none !important;
}

.rsTabs,
.rsThumbs {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rsVideoContainer {
	width: auto;
	height: auto;
	line-height: 0;
	position: relative;
}

.rsVideoFrameHolder {
	position: absolute;
	left: 0;
	top: 0;
	background: #141414;
	opacity: 0;
	-webkit-transition: .3s;
}

.rsVideoFrameHolder.rsVideoActive {
	opacity: 1;
}

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
	position: absolute;
	z-index: 50;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
	padding-right: 44px;
}

.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;	
}

img.rsImg {
	max-width: none;
}

.grab-cursor {
	cursor: url('../components/grab.png') 8 8, move; 
}

.grabbing-cursor{ 
	cursor: url('../components/grabbing.png') 8 8, move;
}

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;	
	z-index: 20;
	background: url('../components/blank.gif');
}

/******************************
*
*  RoyalSlider Default Skin 
*
*    1. Bullets
*    2. Preloader
* 
******************************/

/* Bullets */
.rsDefault .rsBullets {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 46px;
	width: 100%;
	height: 20px;
	margin: 0 auto; 
	text-align: center;
	line-height: 8px;
	overflow: hidden;
}

@media screen and (min-width: $tablet){
	.rsDefault .rsBullets {
		bottom: 12px;
	}
}

.rsDefault .rsBullet {
	width: 16px;
	height: 16px;
	margin: 0 2px;
	display: inline-block;
	*display: inline; 
	*zoom: 1;
	cursor: pointer;
}

.rsDefault .rsBullet span {
	position: relative;
	display: block;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #777672;
	background: transparent;
	@include transition (background .1s ease);
}

.rsDefault .rsBullet:hover span,
.rsDefault .rsBullet.rsNavSelected span {
	background: #777672;
}

/* Preloader */
.rsDefault .rsPreloader {
	width: 20px;
	height: 20px;
	background-image: url('../components/preloader-white.gif');
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;	
}

@media screen and (min-width: 960px) and (min-height: 660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
  	height: rem(520) !important;
  }
}

@media screen and (min-width: 960px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
  	height: rem(343) !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
  	height: rem(300) !important;
  }
}