/* 404 page
------------------------------------------------------------------------------*/

.page-404 {
	background: transparent url('../img/404/bg_404.jpg') center center no-repeat;
	background-size: cover;
	
	.content {
		position: absolute;
		top: 50%;
		transform: translateY(-32%);
		float: left;
		width: 100%;
		font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
		text-align: center;
		color: #fff;
		
		h1 {			
			float: none;
			left: 0;
			width: 100%;
			margin-bottom: rem(16);
			font-size: rem(47);
			line-height: em(47, 47);
			text-transform: uppercase;
			
			.up {
				position: relative;
				top: rem(-6);
			}
		}
		
		p {
			float: left;
			width: 100%;
			margin-bottom: rem(31);
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(18);
			line-height: em(27, 18);
		}
		
		a.btn-action {
			display: inline-block;
			padding: rem(6) 27px rem(2);
			border-radius: 36px;
			border: 2px solid #fff;
			font-size: rem(12);
			line-height: em(23, 12);
			text-decoration: none;
			@include transition (all .1s ease);
			text-transform: uppercase;
			color: #fff;
			
			&:hover {
				background: #fff;
				color: $accent-color;
			}
		}
	}
}
// page-404

@media screen and (min-width: $tablet){
	
	.page-404 {
		background: transparent url('../img/404/bg_404.jpg') center center no-repeat;
		background-size: cover;
		
		.content {
			
			h1 {
				margin-bottom: rem(19);
				font-size: rem(44);
			}
			
			p {
				margin-bottom: rem(34);
				font-size: rem(26);
				line-height: em(33, 28);
			}
		}
	}
	// page-404
}
// tablet - page-404

@media screen and (min-width: $desktop){
	
	.page-404 {	
		.content {
			
			h1 {
				margin-bottom: rem(22);
			}
			
			p {
				margin-bottom: rem(42);
				font-size: rem(28);
				line-height: em(33, 28);
			}
		}
	}
	// page-404
}
// tablet - page-404