/* Blog page
------------------------------------------------------------------------------*/

.page-blog {
	
	h2 {
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: rem(70);
		font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(16);
		line-height: em(20, 16);
		text-align: center;
		word-spacing: 1px;
		text-transform: uppercase;
		color: #646464;
		
		&:after {
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 60px;
			height: 2px;
			margin-left: -30px;
			content: '';
			background: #d7d4ce;
		}
	}
	
	.content {
		.container {
			max-width: 537px;
		}
	}
	
	@media screen and (min-width: 1105px){
		.content {
			.container {
				max-width: $max-content-width;
				padding: 0;
			}
		}
	}
		
	.entry {
		display: inline-block;
		width: 100%;
		margin-bottom: rem(30);
		
		.post-thumbnail {
			float: left;
		}
		
		.entry-content {
			float: left;
			max-width: 507px;
			margin: rem(27) 0 0;
			color: #7b7b7b;
		}
		
		h3 {
			margin-bottom: rem(14);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(32);
			line-height: em(35, 32);
			text-transform: capitalize;
			
			a {
				color: #262626;	
			}
		}
		
		.entry-meta {
			float: left;
			width: 100%;
			margin-bottom: rem(15);
			font-size: rem(12);
			line-height: em(23, 12);
			color: #bbb;
			
			li {
				display: inline-block;
			}
			
			.date {
				position: relative;
				margin-right: 11px;
				padding-right: 16px;
				
				&:after {
					position: absolute;
					content:'';
					top: 2px;
					right: 0;
					width: 1px;
					height: 20px;
					background: #ccc;
				}
			}
			
			a {
				text-decoration: none;
				@include transition (color .1s ease);
				color: #bbb;
				
				&:hover {
					color: $accent-color;
				}
			}
		}
		
		.excerpt {
			font-size: rem(13);
			line-height: em(22, 13);
		}
		
		&.right {
			.post-thumbnail {
				float: right;
			}
			
			.entry-content {
				float: right;
				text-align: right;
			}
		}
		
		/* last section */
		&:nth-last-of-type(1) {
			margin-bottom: rem(85);
		}
	}
	// entry
	
	@media screen and (min-width: 1105px){
		.entry {
			margin-bottom: rem(70);
	
			.entry-content {
				margin: rem(27) 0 0 36px;
			}
			
			h3 {
				font-size: rem(38);
				line-height: em(40, 38);
				text-transform: capitalize;
			}
			
			&.right {
				.post-thumbnail {
					float: right;
				}
				
				.entry-content {
					float: left;
					margin-left: 0;
				}
			}
			
			/* last section */
			&:nth-last-of-type(1) {
				margin-bottom: rem(85);
			}
		}
		// entry
	}
	// desktop - entry
	
	.posts-navigation {
		float: left;
		width: 100%;
		padding: rem(37) 0 rem(142);
		text-align: center;
		font-family: 'LatoBold', Helvetica, Arial, sans-serif;
		font-size: rem(14);
		line-height: em(26, 14);
		background: transparent url('../img/common/border_dashed.png') 0 0 repeat-x;
		
		.prev-link,
		.next-link {
			position: relative;
			display: inline-block;
			top: rem(-10);
			padding-left: 10px;
			line-height: em(23, 14);
			text-transform: uppercase;
			text-decoration: none;
			@include transition (color .1s ease);
			color: #7f7f7f;
			
			&:before {
				position: absolute;
				top: 0;
				left: -10px;
				font-family: 'Fontello';
				content: '\e812';
			}
			
			&:hover {
				color: $accent-color;
			}
		}
				
		.next-link {
			padding: 0 10px 0 0;
			
			&:before {
				right: 0;
				left: auto;
				content: '\e813';
			}
		}
		
		.pagination {
			display: inline-block;
			margin: 0 10px;
			
			li {
				float: left;
				
				&.current a {
					background: $accent-color;
					color: #fff;
					
					&:hover {
						border-color: transparent;
					}
				}
			}
			
			a {
				float: left;
				width: 30px;
				height: 30px;
				margin: 0 3px;
				text-decoration: none;
				@include transition (all .05s ease);
				border: 2px solid transparent;
				color: #7f7f7f;
				
				&:hover {
					border-color: #ccc;
				}
			}
		}	
	}
}
// page-blog