/* Contact page
------------------------------------------------------------------------------*/

.page-contact {
	
	.intro {
		float: left;
		width: 100%;
		height: rem(361);
		margin-top: rem(-101);
		background: transparent url('../img/contact/bg_contact_intro.jpg') center center no-repeat;
		background-size: cover;
	}
	
	.content {
		.container {
			max-width: 712px;
		}
	}
	
	.form-wrapper {
		padding: rem(94) 0 rem(27);
		text-align: center;
		
		.heading {
			position: relative;
			float: left;
			width: 100%;
			margin-bottom: rem(68);
			text-align: center;
			
			&:before {
				position: absolute;
				bottom: rem(-7);
				left: 50%;
				width: 62px;
				height: 2px;
				margin-left: -31px;
				content: '';
				background: #e5e5e5;
			}
		}
		
		.submit-btn {
			float: none;
			display: inline-block;
		}
	}
	
	@media screen and (min-width: $tablet){
		
		.intro {
			height: rem(500);
			background: transparent url('../img/contact/bg_contact_intro_d.jpg') center center no-repeat;
			background-size: cover;
		}
		
		.content {
			.container {
				padding: 0;
			}
		}
	}
	// tablet
}
// page-contact