/* Home page
------------------------------------------------------------------------------*/

.page-home {
	
	h3 {
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: rem(55);
		font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(16);
		line-height: em(20, 16);
		text-align: center;
		word-spacing: 1px;
		text-transform: uppercase;
		color: #646464;
		
		&:after {
			position: absolute;
			bottom: -10px;
			left: 50%;
			width: 60px;
			height: 2px;
			margin-left: -30px;
			content: '';
			background: #d7d4ce;
		}
	}
	
	.intro {
		float: left;
		width: 100%;
		margin-top: rem(-101);
		padding: rem(237) 0 rem(69);
		background: transparent url('../img/home/bg_home_intro_d.jpg') center 0 no-repeat;
		text-align: center;
		background-size: cover;
		color: #fff;

		.book-cover {
			margin-top: rem(34);
		}
		
		.info {	
			display: inline-block;
			max-width: 613px;
			padding-top: rem(33);
		}
		
		.wrapper {
			float: left;
			width: 100%;
		}
		
		h2 {
			margin-bottom: rem(13);
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(40);
			line-height: em(44, 40);
		}
		
		.author {
			margin-bottom: rem(28);
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(16);
			line-height: em(25, 16);
			
			.name {
				text-transform: uppercase;
			}
		}
		
		.descr {
			margin-bottom: rem(36);
		}
		
		a.btn-purchase {	
			display: inline-block;
			padding: rem(4) 35px rem(2);
			border-radius: 36px;
			border: 2px solid #fff;
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(12);
			line-height: em(25, 12);
			text-transform: uppercase;	
			text-decoration: none;
			@include transition (all .1s ease);
			color: #fff;
			
			.amount {
				font-size: rem(14);
			}
			
			&:hover {
				background: #fff;
				color: #222;
			}
		}		
	}
	// intro
	
	@media screen and (min-width: $tablet){
		
		.intro {			
			h2 {
				margin-bottom: rem(22);
				font-size: rem(56);
				line-height: em(58, 56);
			}
		}
		// intro
	}
	// tablet - intro
	
	@media screen and (min-width: 1120px){
		
		.intro {
			float: left;
			
			.container {
				padding: 0;
			}
	
			.book-cover {
				position: absolute;
				top: 0;
				left: 68px;
				margin: 0;
			}
			
			.info {
				float: right;
				text-align: left;
			}
			
			h2 {
				margin-bottom: rem(10);
				font-size: rem(60);
				line-height: em(70, 60);
			}
			
			.author {
				margin-bottom: rem(39);
			}	
		}
	}
	// desktop - intro
	
	.book-genres {
		float: left;
		width: 100%;
		padding: rem(96) 0 rem(99);
		background: #efece5;
		text-align: center;
	
		ul {
			display: inline-block;
			max-width: 400px;
			margin: 0 auto;
			
			li {
				position: relative;
				float: left;
				width: 100%;
				margin-bottom: rem(32);
				padding: rem(70) 15px/$mobile*100% 0;
				cursor: pointer;
							
				&:before {
					position: absolute;
					top: 0;
					left: 50%;
					width: 46px;
					height: 58px;
					margin-left: -20px;
					content: '';
					background: transparent url('../img/common/sprite_common.png') 0 0 no-repeat;
				}
				
				&.women:before {
					width: 60px;
					margin-left: -31px;
					background-position-y: -95px;
				}
				
				&.wine:before {
					width: 68px;
					margin-left: -38px;
					background-position-y: -195px;
				}
				
				a {
					float: left;
					text-decoration: none;
				}
				
				&:hover {
					
					&:before {
						background-position-x: -100px;
					}
					
					h3 {
						color: $accent-color;
					}
				}
			}
		}
		
		h3 {
			position: relative;
			margin-bottom: rem(28);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(18);
			line-height: em(35, 18);
			text-transform: none;
			color: #171716;
			
			&:after {
				position: absolute;
				bottom: -3px;
				left: 50%;
				width: 60px;
				height: 2px;
				margin-left: -30px;
				content: '';
				background: #d7d4ce;
			}
		}
		
		p {
			line-height: em(22, 13);
			color: #918f8b;
		}
	}
	// book-genres
	
	@media screen and (min-width: $desktop){
		
		.book-genres {
			padding: rem(152) 0 rem(116);
		
			ul {
				max-width: $max-content-width;
				
				li {
					max-width: 283px/$max-content-width*100%;
					margin: 0 36px/$max-content-width*100%;
					padding: rem(70) 0 0;
					
					/* every 3rd element */
					&:nth-child(3n+4){
						clear: left;
					}
				}
			}
		}
	}
	// tablet - book-genres
	
	.about-book {
		float: left;
		width: 100%;
		padding: rem(96) 0 rem(114);
		text-align: center;
		
		.container {
			max-width: 545px;
		}
		
		h4 {
			margin-bottom: rem(14);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(20);
			line-height: em(30, 20);
			text-transform: uppercase;
			color: #191919;
		}
		
		.section {
			display: inline-block;
			width: 100%;
			margin-bottom: rem(48);
			
			/* first section */
			&:nth-of-type(1) {
				h4 {
					font-size: rem(36);
					line-height: em(42, 36);
					text-transform: none;
				}			
			}
			
			/* last section */
			&:nth-last-of-type(1) {
				margin-bottom: rem(19);
			}
			
			.info {
				float: left;
			}
			
			img {
				display: inline-block;
				margin: rem(5) 0 0;
			}
			
			&.right {
				.info {
					text-align: left;
				}
			}
			
			p {
				margin-bottom: rem(32);
			}
		}
		
		.link-more {
			display: inline-block;
			border-bottom: 2px solid #d7d4ce;
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(10);
			line-height: em(18, 10);
			text-decoration: none;
			text-transform: uppercase;
			@include transition (all .1s ease);
			color: #b2b2b2;
			
			&:hover {
				border-color: $accent-color;
				color: $accent-color;
			}
		}
	}
	// about-book
		
	@media screen and (min-width: 1120px){
		
		.about-book {
				
			.container {
				max-width: $max-content-width;
				padding: 0;
			}
			
			.section {
				float: left;
				margin-bottom: rem(74);
			
				&:nth-last-of-type(1) {
					margin-bottom: rem(19);
				}
				
				.info {
					float: left;
					max-width: 515px;
					text-align: right;
				}
				
				img {
					float: left;
					margin: rem(5) 0 0 28px;
				}
				
				&.right {
					.info {
						float: right;
						max-width: 526px;
						text-align: left;
					}
					
					img {
						float: right;
						margin-right: 28px;
					}
				}
			}
			
			p {
				margin-bottom: rem(18);
			}
		}
		// about-book
	}
	// desktop - about-book
	
	.about-author {
		float: left;
		width: 100%;
		padding: rem(92) 0 rem(160);		
		text-align: center;
		
		.container {
			max-width: 375px;
		}
		
		.info {
			display: inline-block;
			width: 100%;
			text-align: right;
		}
		
		h3 {
			float: right;
			margin-bottom: rem(57);
			text-align: right;
			
			&:after {
				right: 0;
				left: auto;
				margin: 0;
			} 
		}
		
		h4 {
			float: right;
			width: 100%;
			margin-bottom: rem(11);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(50);
			line-height: em(53, 50);
		}
		
		.style {
			float: right;
			clear: right;
			margin-bottom: rem(42);
			font-size: rem(12);
			line-height: em(22, 12);
			text-transform: uppercase;
			color: #7f7f7f;
		}
		
		.descr {
			float: right;
			clear: right;
			margin-bottom: rem(22);
			font-size: rem(13);
			line-height: em(22, 13);
		}
		
		.author-pic {
			display: inline-block;
			margin-top: rem(18);
		}
		
		.social {
			float: right;
			
			li {
				display: inline-block;
			}
			
			a {
				float: left;
				width: 24px;
				height: 24px;
				margin: 0 2px;
				border-radius: 50%;
				line-height: em(23, 13);
				text-align: center;
				@include transition (all .1s ease);
				background: #e5e5e5;
				color: #989898;
				
				&:hover {
					background: $accent-color;
					color: #fff;
				}
			}
			
			.icon-rss {
				position: relative;
				left: 1px;
			}
		}
		
		.other-books {
			display: inline-block;
			max-width: 305px;
			padding: rem(45) 0 0;
			
			li {
				float: left;
				width: 124px;
				text-align: center;
				
				/* every 2nd child */
				&:nth-child(2n+2){
					margin-left: 47px;
				}
				
				/* every 3rd child */
				&:nth-child(2n+3){
					clear: left;
				}
				
				a {
					float: left;
					text-decoration: none;
					
					&:hover .title {
						color: $accent-color;
					}
				}				
			}
			
			img {
				display: inline-block;
				margin-bottom: rem(-23);
			}
			
			.title {
				font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
				font-size: rem(13);
				line-height: em(22, 13);
				text-transform: capitalize;
				@include transition (color .1s ease);
				color: #4e4e4e;
			}
		}
	}
	// about-author
	
	@media screen and (min-width: 863px){
		
		.about-author {
			.container {
				max-width: 825px;
			}
			
			.info {
				float: left;
				max-width: 324px;
			}
			
			.author-pic {
				float: right;
				margin: 0;
			}
		}
	}
	
	@media screen and (min-width: 1104px){
		
		.about-author {
			padding: rem(140) 0 rem(160);		
			
			.container {
				max-width: $max-content-width;
				padding: 0;
			}
			
			.info {
				width: 347px;
			}
					
			.descr {
				margin-bottom: rem(48);
			}
			
			.author-pic {
				float: left;
				margin: 0 0 0 27px;
			}

			.other-books {
				float: left;
				width: 305px;
				margin-left: 44px;
			}
		}
		// about-author
	}
	// desktop - about-author
	
	.testimonials {
		float: left;
		width: 100%;
		padding: rem(92) 0 rem(37);
		background: #efece5;
		font-family: 'LatoLightIt', Helvetica, Arial, sans-serif;
		text-align: center;
		color: #333;
		
		.royalSlider {
			position: relative;
			display: inline-block;
			width: 100%;
			padding: 0 15px/$mobile*100%;
		}
		
		blockquote {
			margin: 0 0 rem(34);
			padding: 0;
			border: 0;
			font-size: rem(18);
			line-height: em(25, 18);
			text-align: center;
			
			&:before {
				display: none;
			}
		}
		
		.source {
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(11);
			text-transform: uppercase;
		}
	}
	// testimonials
	
	@media screen and (min-width: $tablet){
		
		.testimonials {
			padding: rem(150) 0 rem(57);
			
			.royalSlider {
				padding: 0 130px/$desktop*100%;
			}
			
			blockquote {
				font-size: rem(30);
				line-height: em(36, 30);
			}
			
			.source {
				font-size: rem(14);
			}
		}
		// testimonials
	}
	// tablet - testimonials
	
	.subscribe {
		float: left;
		width: 100%;
		padding: rem(101) 0 rem(103);
		text-align: center;
		
		h4 {
			position: relative;
			float: left;
			width: 100%;
			margin-bottom: rem(43);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(14);
			line-height: em(21, 14);
			text-transform: uppercase;
			
			&:after {
				position: absolute;
				bottom: -10px;
				left: 50%;
				width: 60px;
				height: 2px;
				margin-left: -30px;
				content: '';
				background: #d7d4ce;
			}
		}
		
		.subscribe-form {
			border: 2px solid rgba(0, 0, 0, .1);
			
			.email-txt {
				color: rgba(0, 0, 0, .3);
			}
			
			::-webkit-input-placeholder {
				color: rgba(0, 0, 0, .3);
			}
			
			:-moz-placeholder {
				color: rgba(0, 0, 0, .3);
				opacity:  1;
			}
			
			::-moz-placeholder {
				color: rgba(0, 0, 0, .3);
				opacity:  1;
			}
			
			:-ms-input-placeholder {
				color: rgba(0, 0, 0, .3);
			}
			
			.subscribe-submit-btn {
				float: left;
				color: rgba(0, 0, 0, .3);
				
				&:hover {
					color: rgba(0, 0, 0, .8);
				}
			}
			
			&:before {
				position: absolute;
				top: 4px;
				right: 48px;
				width: 1px;
				height: 21px;
				content: '';
				background: rgba(0, 0, 0, .1);
			}
		}
	}
	// subscribe
	
	@media screen and (min-width: 480px){
		
		.subscribe {
			h4 {
				font-size: rem(16);
				line-height: em(20, 16);
			}
		}
		// subscribe	
	}
	// tablet - subscribe	
}
// page-home