/* Post page
------------------------------------------------------------------------------*/

.single {
	
	.content {
		.container {
			max-width: 712px;
		}
	}
	
	.post-thumbnail {
		position: relative;
		top: rem(-101);
		float: left;
		width: 100%;
		height: rem(330);
		margin-bottom: rem(-45);
		background: transparent url('../img/post/bg_header_single.jpg') 0 0 no-repeat;
		background-size: cover;
	}
	
	.hentry {
		float: left;
		width: 100%;
		padding-bottom: rem(71);
		border-bottom: 2px solid #ccc;
		
		.entry-title {
			margin-bottom: rem(13);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(39);
			line-height: em(47, 39);
			text-transform: capitalize;
		}
		
		.entry-meta {
			float: left;
			width: 100%;
			margin-bottom: rem(27);
			font-size: rem(12);
			line-height: em(23, 12);
			color: #bbb;
			
			li {
				float: left;
			}
			
			.date {
				position: relative;
				margin-right: 11px;
				padding-right: 16px;
				
				&:after {
					position: absolute;
					content:'';
					top: 2px;
					right: 0;
					width: 1px;
					height: 20px;
					background: #ccc;
				}
			}
			
			a {
				text-decoration: none;
				@include transition (color .1s ease);
				color: #bbb;
				
				&:hover {
					color: $accent-color;
				}
			}
		}
		
		img {
			margin-bottom: rem(36);
		}
	}
	// hentry
	
	@media screen and (min-width: $desktop){
		
		.content {
			.container {
				padding: 0;
			}
		}
		
		.post-thumbnail {
			height: rem(400);
			margin-bottom: rem(-27);
		}
		
		.hentry {
			float: left;
			width: 100%;
			padding-bottom: rem(71);
			border-bottom: 2px solid #ccc;
			
			.entry-title {
				margin-bottom: rem(13);
				font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
				font-size: rem(39);
				line-height: em(47, 39);
				text-transform: capitalize;
			}
			
			.entry-meta {
				float: left;
				width: 100%;
				margin-bottom: rem(27);
				font-size: rem(12);
				line-height: em(23, 12);
				color: #bbb;
				
				li {
					float: left;
				}
				
				.date {
					position: relative;
					margin-right: 11px;
					padding-right: 16px;
					
					&:after {
						position: absolute;
						content:'';
						top: 2px;
						right: 0;
						width: 1px;
						height: 20px;
						background: #ccc;
					}
				}
				
				a {
					text-decoration: none;
					@include transition (color .1s ease);
					color: #bbb;
					
					&:hover {
						color: $accent-color;
					}
				}
			}
		}
		// hentry
	}
	// tablet - hentry
	
	.sibling-posts {
		float: left;
		width: 100%;
		padding: rem(27) 0 rem(86);
		font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(20);
		line-height: em(23, 20);
		
		a {
			position: relative;
			max-width: 260px;
			padding-top: rem(32);
			text-decoration: none;
			color: #191919;
			
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'Fontello';
				content: '\e810';
				color: #ccc;
			}
			
			&:hover,
			&:hover:before {
				color: $accent-color;
			}
		}
				
		.previous {
			float: left;
		}
		
		.next {
			float: right;
			text-align: right;
			
			&:before {
				right: 0;
				left: auto;
				content: '\e811';
			}
		}
	}
	
	@media screen and (min-width: $desktop){
		.sibling-posts {
			float: left;
			width: 100%;
			padding: rem(27) 0 rem(86);
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(20);
			line-height: em(23, 20);
			
			a {
				position: relative;
				max-width: 260px;
				padding-top: rem(32);
				text-decoration: none;
				color: #191919;
				
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-family: 'Fontello';
					content: '\e810';
					color: #ccc;
				}
				
				&:hover,
				&:hover:before {
					color: $accent-color;
				}
			}
					
			.previous {
				float: left;
			}
			
			.next {
				float: right;
				text-align: right;
				
				&:before {
					right: 0;
					left: auto;
					content: '\e811';
				}
			}
		}
	}
	
	.post-author {
		float: left;
		width: 100%;
		padding: rem(41) 0 rem(47);
		background: url('../img/common/border_dashed.png') 0 0 repeat-x,
								url('../img/common/border_dashed.png') 0 100% repeat-x;
		text-align: center;
		
		img {
			display: inline-block;
			border-radius: 50%;
		}
		
		.info {
			float: left;
		}
		
		.name {
			display: inline-block;
			margin: rem(25) 0 rem(15);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(17);
			line-height: em(22, 17);
			@include transition (color .1s ease);
			text-decoration: none;
			color: #000;
			
			&:hover {
				color: $accent-color;
			}
		}
		
		.bio {
			display: inline-block;
			margin-bottom: rem(4);
			font-size: rem(13);
			line-height: em(20, 13);
			color: #4c4c4c;
		}
		
		.link {
			display: inline-block;
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(11);
			line-height: em(20, 11);
			text-decoration: none;
			@include transition (color .1s ease);
			
			&:hover {
				color: $text-color;
			}
		}
	}
	// post-author
	
	@media screen and (min-width: $desktop){
		
		.post-author {
			text-align: left;
			
			img {
				float: left;
				margin-right: 22px;
			}
			
			.info {
				max-width: 590px;
			}
			
			.name {
				float: left;
				margin: rem(15) 0 rem(4);
			}
			
			.bio {
				float: left;
				margin-bottom: rem(15);
			}
			
			.link {
				float: left;
			}
		}
		// post-author
	}
	// desktop - post-author
	
	.post-comments {
		float: left;
		width: 100%;
		margin-bottom: rem(47);
		padding: rem(55) 0 0;
		
		h4 {
			margin-bottom: rem(15);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(16);
			line-height: em(25, 16);
			text-transform: uppercase;
			color: #000;
		}
		
		ol {
			float: left;
			width: 100%;
			
			li {
				position: relative;
				float: left;
				width: 100%;
				margin-bottom: rem(6);
				padding: rem(13) 0 0;
				
				&:after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 80px;
					height: 1px;
					content: '';
					background: transparent url('../img/common/border_dashed.png') 0 0 repeat-x;
				}
				
				/* last section */
				&:nth-last-of-type(1) {
					padding-bottom: rem(33);
					border-bottom: 1px dashed #d5d5d5;
					
					&:after {
						display: none;
					}
				}
			}
		}
		
		.comment-meta {
			margin-bottom: rem(8);
		}
		
		.author {
			margin-right: 15px;
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(13);
			line-height: em(25, 13);
			color: #000;
		}
		
		.date {
			font-family: 'LatoLightIt', Helvetica, Arial, sans-serif;
			font-size: rem(12);
			line-height: em(24, 12);
			color: #7f7f7f;
		}
		
		.comment {
			font-size: rem(12);
			line-height: em(22, 12);
			color: #4c4c4c;
			
			p {
				margin-bottom: rem(14);
				
				/* last section */
				&:nth-last-of-type(1) {
					margin-bottom: rem(4);
				}
			}
		}
		
		a.reply {
			float: right;
			text-decoration: none;
			@include transition (color .1s ease);
			
			&:hover {
				color: #111;
			}
		}
	}
	// post-comments
	
	.recent-posts-container {
		max-width: $max-content-width;
		margin: 0 auto;
		padding: 0 15px/$mobile*100%;
		text-align: center;
	}
	
	.recent-posts {
		display: inline-block;
		max-width: 300px;
		width: 100%;
		padding: rem(46) 0 rem(120);
		
		h5 {
			position: relative;
			margin-bottom: rem(50);
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(15);
			line-height: em(40, 15);
			text-transform: uppercase;
			text-align: left;
			color: #646464;
			
			&:before {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 62px;
				height: 2px;
				content: '';
				background: #e5e5e5;
			}
		}
		
		.post {
			display: inline-block;
			width: 100%;
			margin-bottom: rem(34);
			text-align: left;
			
			img {
				float: left;
				margin-bottom: rem(16);
			}
			
			.post-title {
				float: left;
				margin-bottom: rem(3);
				font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
				font-size: rem(20);
				line-height: em(24, 20);
				text-transform: capitalize;
				
				a {
					text-decoration: none;
					@include transition (color .1s ease);
					color: $text-color;
					
					&:hover {
						color: $accent-color;
					}
				}
			}
			
			.post-meta {
				float: left;
				font-size: rem(12);
				line-height: em(23, 12);
				color: #a1a1a1;
				
				.date {
					text-decoration: none;
					@include transition (color .1s ease);
					color: #a1a1a1;
					
					&:hover {
						color: $accent-color;
					}
				}
			}
		}
	}
	// recent-posts
	
	@media screen and (min-width: $tablet){
		
		.recent-posts {
			max-width: 601px;
			padding: rem(46) 0 rem(120);
						
			.post {
				float: left;
				max-width: 244px;
				
				/* every 2nd child */
				&:nth-child(2n+3) {
					float: right;
				}
			}
		}
		// recent-posts
	}
	// tablet - recent-posts
	
	@media screen and (min-width: 1091px){
		
		.recent-posts-container {
			padding: 0;
		}
		
		.recent-posts {
			float: left;
			max-width: none;
			padding: rem(91) 0 rem(120);
			background: transparent url('../img/common/border_dashed.png') 0 0 repeat-x;
			
			.post {
				float: left;
				width: 534px;
				max-width: none;
				margin-bottom: rem(26);
				
				img {
					float: left;
					margin: 0 31px 0 0;
				}
				
				.post-title {
					float: none;
				}
				
				/* every 2nd child */
				&:nth-child(2n+3) {
					float: left;
				}
							
				/* every 3rd child */
				&:nth-child(2n+2) {
					clear: left;
				}
			}
		}
		// recent-posts
	}
	// desktop - recent-posts
}
// single-post