/* Story page
------------------------------------------------------------------------------*/

.page-story {
	
	.intro {
		float: left;
		width: 100%;
		height: 500px;
		margin-top: rem(-101);
		padding-top: rem(244);
		background: transparent url('../img/story/bg_story_intro_d.jpg') center center no-repeat;
		background-size: cover;
		text-align: center;
		
		h2 {
			display: inline-block;
			font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(40);
			line-height: em(70, 57);
			text-transform: uppercase;
			color: #fff;
		}
	}
	
	.section {
		float: left;
		width: 100%;
		padding: rem(96) 0;
		text-align: center;
		
		.container {
			max-width: 733px;
		}
		
		&:nth-child(1){
			h4 {
				text-transform: capitalize;
			}
		}
		
		p {
			text-align: left;
		}
	}
	
	h3 {
		position: relative;
		float: left;
		width: 100%;
		margin-bottom: rem(46);
		padding-bottom: rem(10);
		font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(16);
		line-height: em(20, 16);
		text-transform: uppercase;
		text-align: center;
		color: #646464;
		
		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 60px;
			height: 2px;
			margin-left: -30px;
			content: '';
			background: #e5e5e5;
		}
	}
	
	h4 {
		margin-bottom: rem(20);
		font-family: 'TrocchiBold', Times New Roman, Times, Baskerville, Georgia, serif;
		font-size: rem(40);
		line-height: em(47, 40);
		text-align: left;
	}
	
	h4+blockquote {
		margin-top: rem(30);
	}
	
	.story-images {
		display: inline-block;
		width: 100%;
		max-width: 345px;
		margin: rem(62) 0 rem(-171);
		
		img {
			float: left;
			margin-bottom: rem(28);
		}
	}
	
	.end {
		position: relative;
		float: left;
		width: 100%;
		height: 299px;
		margin: rem(48) 0 rem(421);
		background: transparent url('../img/story/bg_story_end.jpg') center center no-repeat;
		background-size: cover;
		
		.book-cover {
			position: absolute;
			top: -102px;
			left: 50%;
			margin-left: -172px;
		}
		
		p {
			position: relative;
			float: left;
			top: rem(448);
			width: 100%;
			font-family: 'TrocchiRegular', Times New Roman, Times, Baskerville, Georgia, serif;
			font-size: rem(29);
			line-height: em(60, 29);
			text-align: center;
			color: #333;
		}
	}
	
	@media screen and (min-width: $tablet){
		
		.intro {
			
			h2 {
				font-size: rem(57);
				line-height: em(70, 57);
			}
		}
	}
	// tablet 
	
	@media screen and (min-width: $desktop){	
		.section {
			.container {
				padding: 0;
			}
		}
				
		.story-images {
			max-width: none;
			
			img {
				margin-bottom: 0;
			}
			
			.pic-illustration {
				margin-left: 43px;
			}
		}
	}
	// desktop
}
// page-story