@@include('head.html', {"pagename": "Home"})

<body class="page-404">

  <div class="content" id="content">
    
    <div class="container">
    	<h1><span class="up">404</span> Not found</h1>
    	<p>The resource requested could not be found on this server</p>
    	<a href="home.html" class="btn-action">Back home</a>
    </div>
  
  </div>
  <!-- / content -->

</body>
</html>
