@@include('head.html', {"pagename": "Blog"})

<body class="page-blog alt-header">

@@include('header.html')

	<div class="content" id="content">

		<h2>Blog</h2>

		<div class="container">

			<article class="entry left">
			
				<img class="post-thumbnail" src="media/blog/pic_blog_01.jpg" alt="" />
				
				<div class="entry-content">
					<h3 class="entry-title"><a href="post.html">Eiffel tower in paris reopens after the	holidays</a></h3>
					<ul class="entry-meta">
						<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
						<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
					</ul>
					<div class="excerpt">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
					</div>
				</div>
				<!-- / entry-content -->
			
			</article>
			<!-- / entry -->
			
			<article class="entry right">
			
				<img class="post-thumbnail" src="media/blog/pic_blog_02.jpg" alt="" />
				
				<div class="entry-content">
					<h3 class="entry-title"><a href="post.html">Various versions have evolved over the years</a></h3>
					<ul class="entry-meta">
						<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
						<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
					</ul>
					<div class="excerpt">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
					</div>
				</div>
				<!-- / entry-content -->
			
			</article>
			<!-- / entry -->
			
			<article class="entry left">
			
				<img class="post-thumbnail" src="media/blog/pic_blog_03.jpg" alt="" />
				
				<div class="entry-content">
					<h3 class="entry-title"><a href="post.html">1914 translation by H</a></h3>
					<ul class="entry-meta">
						<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
						<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
					</ul>
					<div class="excerpt">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
					</div>
				</div>
				<!-- / entry-content -->
			
			</article>
			<!-- / entry -->
			
			<article class="entry right">
			
				<img class="post-thumbnail" src="media/blog/pic_blog_04.jpg" alt="" />
				
				<div class="entry-content">
					<h3 class="entry-title"><a href="post.html">Nor again is there anyone who loves</a></h3>
					<ul class="entry-meta">
						<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
						<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
					</ul>
					<div class="excerpt">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
					</div>
				</div>
				<!-- / entry-content -->
			
			</article>
			<!-- / entry -->
			
			<article class="entry left">
			
				<img class="post-thumbnail" src="media/blog/pic_blog_05.jpg" alt="" />
				
				<div class="entry-content">
					<h3 class="entry-title"><a href="post.html">Eiffel tower in paris reopens after the holidays</a></h3>
					<ul class="entry-meta">
						<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
						<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
					</ul>
					<div class="excerpt">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
					</div>
				</div>
				<!-- / entry-content -->
			
			</article>
			<!-- / entry -->
			
			<article class="entry right">
			
				<img class="post-thumbnail" src="media/blog/pic_blog_06.jpg" alt="" />
				
				<div class="entry-content">
					<h3 class="entry-title"><a href="post.html">Various versions have evolved over the years</a></h3>
					<ul class="entry-meta">
						<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
						<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
					</ul>
					<div class="excerpt">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>
					</div>
				</div>
				<!-- / entry-content -->
			
			</article>
			<!-- / entry -->

			<div class="posts-navigation">
				<a class="prev-link" href="#">Prev</a>
				<ul class="pagination">
					<li class="current"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
				</ul>
				<a class="next-link" href="#">Next</a>
			</div>
			<!-- / posts-navigation -->

		</div>
		<!-- / container -->

	</div>
	<!-- / content -->

@@include('footer.html')
@@include('scripts.html')

</body>
</html>