@@include('head.html', {"pagename": "Contact"})

<body class="page-contact">

@@include('header.html')

  <div class="content" id="content">
    
    <div class="intro"></div>
    
		<div class="container">
		
			<div class="form-wrapper">
		
				<h2 class="heading">Contact</h2>
		
				<form id="contact-form" class="wide-form" method="post" action="#">
					
					<label for="name-txt" class="hide">Name</label>
					<input id="name-txt" class="name-txt" type="text" name="name-txt" value="" placeholder="Name" />
					
					<label for="email-txt" class="hide">Email</label>
					<input id="email-txt" class="email-txt" type="email" name="email-txt" value="" placeholder="Email" />
					
					<label for="message-txt" class="hide">Message</label>
					<textarea id="message-txt" class="message-txt" cols="40" rows="8" placeholder="Tell us what you think about our books"></textarea>
					
					<input id="submit-btn" class="submit-btn" type="submit" name="Submit comment" value="Submit" />
				
				</form>
				<!-- / wide-form -->
		
			</div>
			<!-- / form-wrapper -->
			
		</div>
		<!-- / container -->
   
  </div>
  <!-- / content -->

@@include('footer.html')
@@include('scripts.html')

</body>
</html>
