@@include('head.html', {"pagename": "Home"})

<body class="page-home">

@@include('header.html')

  <div class="content" id="content">
    
    <section class="intro">
    	
    	<div class="container">
    
    		<div class="info">
    			<h2>The truth about organic foods</h2>
    			<p class="author">by <span class="name">Alex Avery</span></p>
    			<p class="descr">Are organic foods really worth their high prices? Are they as healthy as you think? This is the first-of-its kind book dispels the many myths that marketers of organic foods have been circulating in a scientific-based, and at times, humorous approach.</p>
    			<span class="wrapper">
    				<a href="http://amazon.com/" class="btn-purchase">$7.50 - Buy book</a>
    			</span>
    			<img class="book-cover" src="media/home/pic_home_intro_book.png" alt="" />
    		</div>
    		<!-- / info -->
    		    
    	</div>
    	<!-- / container -->
    
    </section>
    <!-- / intro -->
    
    <div class="book-genres">
    	
    	<ul>
    		<li class="cookbooks">
    			<a href="#">
    				<h3>Cookbooks</h3>
    				<p>The new crop of spring cookbooks reflect 2016's most vital trends, from celebrity-style eating to chefs' takes on regional cuisine.</p>
    			</a>
    		</li> 
    		
    		<li class="women">
    			<a href="#">
    				<h3>Women's books</h3>
    				<p>International best-selling books on power of female authenticity.</p>
    			</a>
    		</li>
    		
    		<li class="wine">
    			<a href="#">
    				<h3>Food &amp; Wine</h3>
    				<p>Food &amp; Wine Magazines and Books bring you the best cookbooks, cocktail guides, chef recipes and wine guides on the web.</p>
    			</a>
    		</li>
    	</ul>
    
    </div>
    <!-- / book-genres -->
    
    <section class="about-book">
    	
    	<div class="container">
    		
    		<h3>The story</h3>
    		
    		<div class="section left">
    			<div class="info">
    				<h4>Go on a Journey</h4>
    				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
    			</div>
    			<img src="media/home/pic_home_01.jpg" alt="" />
    		</div>
    		<!-- / section -->
    		
    		<div class="section right">
    			<div class="info">
    				<h4>Book overview</h4>
    				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing</p>
    				
    				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
    			</div>
    			<img src="media/home/pic_home_02.jpg" alt="" />
    		</div>
    		<!-- / section -->
    								
    		<a href="story.html" class="link-more">Read more</a>
    	
    	</div>
    	<!-- / container -->
    	
    </section>
    <!-- / about-book -->
    
    <section class="countdown">
    	
    	<div class="container">
    		
    		<h5>Release date</h5>
    		
    		<div id="timer" class="timer"></div>
    		    		
    		<form id="subscribe-form" class="subscribe-form" method="post" action="#">
    			<label for="email-txt" class="hide">Email address</label>
    			<input id="email-txt" type="email" class="email-txt" name="email-txt" value="" placeholder="Email address" />
    			<input id="subscribe-submit-btn" class="subscribe-submit-btn" type="submit" name="subscribe-submit-btn" value="Go" />
    		</form>
    		<!-- / subscribe-form -->
    		
    		<p class="message">Subscribe to our newsletter to get the most recent news and updates. Also we occasionally share free books and magazines! Stay tuned!</p>
    	
    	</div>  	
   		<!-- / container -->

   	</section>
    <!-- / countdown -->
    
    <section class="about-author">
    	
    	<div class="container">
    		
    		<div class="info">
    			<h3>Author</h3>
    			<h4>Alex Avery</h4>
    			<p class="style">Style: nature living, organic foods</p>
    			<p class="descr">Lorem ipsum dolor sit amet, consectetuer 
    				adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociisnatoque penatibus et magnis...</p>
    			<ul class="social">
    				<li>
    					<a href="#">
    						<i class="icon-facebook"></i>
    						<span class="screen-reader-text">Like Alex on Facebook</span>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<i class="icon-twitter"></i>
    						<span class="screen-reader-text">Read on Twitter</span>
    					</a>
    				</li>
    				<li>
    					<a href="#">
    						<i class="icon-rss"></i>
    						<span class="screen-reader-text">Read latest RSS news</span>
    					</a>
    				</li>
    			</ul>
    			<!-- / social -->
    		</div>
    		<!-- / info -->
    		
    		<img class="author-pic" src="media/home/pic_home_03.jpg" alt="" />
    		
    		<ul class="other-books">
    			<li>
    				<a href="story.html"><img src="media/home/pic_home_04.png" alt="Healthy eating on a budget" />
    					<p class="title">Healthy eating on a budget</p></a>
    			</li>
    			<li>
    				<a href="story.html"><img src="media/home/pic_home_05.png" alt="Herbs in every day life" />
    					<p class="title">Herbs in every day life</p></a>
    			</li>
    			<li>
    				<a href="story.html"><img src="media/home/pic_home_06.png" alt="All about Spices" />
    					<p class="title">All about Spices</p></a>
    			</li>
    			<li>
    				<a href="story.html"><img src="media/home/pic_home_07.png" alt="Japanese cuisine" />
    					<p class="title">Japanese cuisine</p></a>
    			</li>
    		</ul>
    		<!-- / other-books -->
    		
    	</div>
    	<!-- / container -->
    	
    </section>
    <!-- / about-author -->
    
    <div class="testimonials">
    	
  		<div id="testimonials" class="royalSlider heroSlider rsMinW rsDefault">
  			
  			<div class="testimonial">
  				<blockquote>“Nunc imperdiet dictum risus finibus luctus. Quisque 
  					vestibulum nibh quis elementum vestibulum. Morbi a purus nec metus aliquam accumsan at in orci.”
  				</blockquote>
  				<cite>
  					<span class="source">The New York Times</span> // 
  					<span class="book">Healthy eating on a budget</span>
  				</cite>
  			</div>
  			<!-- / testimonial -->
  			
  			<div class="testimonial">
  				<blockquote>“Nunc imperdiet dictum risus finibus luctus. Quisque 
  					vestibulum nibh quis elementum vestibulum. Morbi a purus nec metus aliquam”
  				</blockquote>
  				<cite>
  					<span class="source">The New York Times</span> // 
  					<span class="book">Healthy eating on a budget</span>
  				</cite>
  			</div>
  			<!-- / testimonial -->
  			
  			<div class="testimonial">
  				<blockquote>“Nunc imperdiet dictum risus finibus luctus. Quisque 
  					vestibulum nibh”
  				</blockquote>
  				<cite>
  					<span class="source">Daily Times</span> // 
  					<span class="book">Healthy eating on a budget</span>
  				</cite>
  			</div>
  			<!-- / testimonial -->
  			
  		</div>
  		<!-- royalSlider-->
    	
    </div>
    <!-- / testimonials -->
    
    <section class="subscribe">
    	
    	<h4>Never miss news on healthy living!</h4>
    	
    	<form id="subscribe-form-bottom" class="subscribe-form" method="post" action="#">
    		<label for="email-txt-bottom" class="hide">Email address</label>
    		<input id="email-txt-bottom" type="email" class="email-txt" name="email-txt" value="" placeholder="Email address" />
    		<input id="subscribe-submit-bottom-btn" class="subscribe-submit-btn" type="submit" name="subscribe-submit-btn" value="Go" />
    	</form>
    	<!-- / subscribe-form -->
    
    </section>
    <!-- / subscribe -->
    
  </div>
  <!-- / content -->

@@include('footer.html')
@@include('scripts.html')

</body>
</html>
