@@include('head.html', {"pagename": "Post"})

<body class="single">

@@include('header.html')

	<div class="content" id="content">
		
		<div class="post-thumbnail"></div>
		
		<div class="container">
		
			<article class="hentry">
				
				<h2 class="entry-title">Eiffel tower in paris reopens after the holidays</h2>
				
				<ul class="entry-meta">
					<li class="date">On <a class="data" href="#">October 16, 2014</a></li>
					<li class="num-comments"><a href="#"><span class="data">3</span> Comments</a></li>
				</ul>
				
				<div class="entry-content">
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
					
					<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Sed sagittis massa eu nibh gravida ornare. Integer a pellentesque purus, vitae consectetur urna. Cras commodo suscipit.</blockquote>
					
					<img src="media/single/pic_single_01.jpg" alt="" />
					
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
				</div>
				
			</article>
			<!-- / hentry -->
			
			<div class="sibling-posts">
				<a class="previous" href="#">And I might have thought that we were one</a>
				<a class="next" href="#">Wanted to fight this war without weapons</a>
			</div>
			<!-- / sibling-posts -->
			
			<div class="post-author">
				<img src="media/single/pic_single_02.jpg" alt="" />
				<div class="info">
					<a class="name" href="#">Ekaterina Bugay</a>
					<p class="bio">Fact that a reader will be distracted by the readable content of a page when looking at its layout.
					act that a reader will be distracted by the readable content of a page when looking at its layout.act that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<a class="link" href="#">www.beautheme.com</a>
				</div>
			</div>
			<!-- / author -->
			
			<div class="post-comments">
				
				<h4>Comments (<span class="data">3</span>)</h4>
				
				<ol>
					
					<li>
						<div class="comment-meta">
							<span class="author">Anonymous</span>
							<span class="date">Posted <span class="data">April 16, 2015</span></span>
						</div>
						<!-- / comment-meta -->
					
						<article class="comment-body">
							<div class="comment">
								<p>A lyrical, allusive (and elusive) voyage into the mists of British folklore by renowned novelist Ishiguro (Never Let Me Go, 2005, etc.).There be giants buried beneath the earth</p>
							</div>
						</article>
						<!-- / comment-body -->
					
						<a href="#" class="reply">Reply</a>
					</li>
					
					<li>
						<div class="comment-meta">
							<span class="author">Anonymous</span>
							<span class="date">Posted <span class="data">April 16, 2015</span></span>
						</div>
						<!-- / comment-meta -->
						
						<article class="comment-body">
							<div class="comment">
								<p>No text was provided for this review.</p>
							</div>
						</article>
						<!-- / comment-body -->
						
						<a href="#" class="reply">Reply</a>
					</li>
				</ol>
				
			</div>
			<!-- / comments -->
			
			<div class="form-wrapper">
				
				<h5 class="heading">Leave a reply</h5>
				
				<form id="reply-form" class="wide-form" method="post" action="#">
					
					<label for="name-txt" class="hide">Name</label>
					<input id="name-txt" class="name-txt" type="text" name="name-txt" value="" placeholder="Name" />
					
					<label for="email-txt" class="hide">Email</label>
					<input id="email-txt" class="email-txt" type="email" name="email-txt" value="" placeholder="Email" />
					
					<label for="message-txt" class="hide">Message</label>
					<textarea id="message-txt" class="message-txt" cols="40" rows="8" placeholder="Tell the world what you think of this post."></textarea>
					
					<input id="submit-btn" class="submit-btn" type="submit" name="Submit comment" value="Submit comment" />
				
				</form>
				<!-- / wide-form -->
			
			</div>
			<!-- / form-wrapper -->
			
		</div>
		<!-- / container -->
		
		<div class="recent-posts-container">
			
			<div class="recent-posts">
				
				<h5>More news</h5>
				
				<div class="post">
					<img src="media/single/pic_single_03.jpg" alt="" />
					<h4 class="post-title"><a href="#">Eiffel tower in paris reopens after the holidays</a></h4>
					<span class="post-meta">On <a href="#" class="date">October 16, 2014</a></span>
				</div>
				<!-- / post -->
				
				<div class="post">
					<img src="media/single/pic_single_04.jpg" alt="" />
					<h4 class="post-title"><a href="#">Parallax scrolling websites: a collection of beautiful examples</a></h4>
					<span class="post-meta">On <a href="#" class="date">October 16, 2014</a></span>
				</div>
				<!-- / post -->
				
			</div>
			<!-- / recent-posts -->
			
		</div>
		<!-- / recent-posts-container -->
		
	</div>
	<!-- / content -->

@@include('footer.html')
@@include('scripts.html')

</body>
</html>