@@include('head.html', {"pagename": "“Story”"})

<body class="page-story">

@@include('header.html')

  <div class="content" id="content">
  	
  	<div class="intro">
  		<h2>The story</h2>
  	</div>
  	
  	<section class="section">
  		
  		<div class="container">
  		
  			<h3>Go on a Journey</h3>
  			<h4>Eiffel Tower In Paris Reopens After The Holidays</h4>
  			
  			<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  			
  			<p>Making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  			
  			<div class="story-images">
  				<img class="pic-author" src="media/home/pic_home_03.jpg" alt="" />
  				<img class="pic-illustration" src="media/story/pic_story_book_illustration.jpg" alt="" />
  			</div>
  		
  		</div>
  		<!-- / container -->
  		
  	</section>
  	<!-- / section -->
  	
  	<section class="countdown">
  	    	
    	<div class="container">
    		
    		<h5>Release date</h5>
    		
    		<div id="timer" class="timer"></div>
    		    		
    		<form id="subscribe-form" class="subscribe-form" method="post" action="#">
    			<label for="email-txt" class="hide">Email address</label>
    			<input id="email-txt" type="email" class="email-txt" name="email-txt" value="" placeholder="Email address" />
    			<input id="subscribe-submit-btn" class="subscribe-submit-btn" type="submit" name="subscribe-submit-btn" value="Go" />
    		</form>
    		<!-- / subscribe-form -->
    		
    		<p class="message">Subscribe to our newsletter to get the most recent news and updates. Also we occasionally share free books and magazines! Stay tuned!</p>
    	
    	</div>  	
   		<!-- / container -->

   	</section>
    <!-- / countdown -->
    
    <section class="section">
  		
  		<div class="container">
  			
  			<h3>Overview of book</h3>
  			<h4>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h4>
  			
  			<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  			Sed sagittis massa eu nibh gravida ornare. Integer a pellentesque purus, vitae consectetur urna. Cras commodo suscipit.</blockquote>
  						
  			<p>Making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
  					
  			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
  		</div>
  		<!-- / container -->
  		
  	</section>
  	<!-- / section -->
  	
  	<div class="end">
  		<img class="book-cover" src="media/home/pic_home_intro_book.png" alt="" />
  		<p>The end.</p>
  	</div>
  	<!-- / end -->
  	
  </div>
  <!-- / content -->

@@include('footer.html')
@@include('scripts.html')

</body>
</html>
